# IDE files

.idea/
.vscode/


# VENVs

venv/


# Temporary files

*.pyc
__pycache__/
*.py~


# Secrets

.env


# GIT

.gitcommit.txt

# Databases
*.db
*.sqlite
*.sqlite3
data/

# Virtual Environments
.venv/